{% extends "base.html" %}
{% block content %}

    <div class="mensaje">
        <div class ="encabezado">
            <img src="../static/images/logo.jpg" class="avatar" >
            <h1>Colegio San Miguel</h1>
        </div>
        {% if tipo == 'login' %}
            <h2>{{ message }}</h2>
            <a href="/" class="btn btn-primary">Reingresar</a>

        {% else %}
            <h3>{{ message }}</h3>
            <a href="/home" class="btn btn-primary">Volver</a>
        {% endif %}
    </div>

{% endblock %}
